{% extends 'textura_app/base.html' %}

{% block title %}Analysis | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-12">

        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <h2>
          Загруженный текст
        </h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Век создания</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for text in texts %}
                <tr>
                    <td>{{ text.title }}</td>
                    <td>{{ text.author }}</td>
                    <td>{{ text.category }}</td>
                    <td>{{ text.time_period }}</td>
                    
                    <td class="form-inline" style="display: flex; flex-direction: row; gap: 2rem">

                        <a class="text-white" href="{% url 'update_text' text.id %}" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Обновить метаданные о тексте"
                        data-bs-custom-class="custom-tooltip">
                          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                              <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                            </svg>
                          </button>
                        </a>

                        <a class="text-white" href="{% url 'update_filters' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Фильтрация корпуса для сравнительного анализа"
                                data-bs-custom-class="custom-tooltip">
                                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                  </svg>
                                </button>
                            </a>
                        
                        <a class="btn btn-success"  href="{% url 'analysis_graphs' %}" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Графики сравнения текста с НКРЯ"
                        data-bs-custom-class="custom-tooltip">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                          </svg>
                        </a>
                        <form action="{% url 'delete_text' text.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" role="button" class="btn btn-danger" value="&#10005;" onclick="return confirm('Удалить текст {{ text.title }}?')" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Удалить текст"
                            data-bs-custom-class="custom-tooltip">
                        </form>
                    </td>
                </tr>

                
                {% endfor %}
            </tbody>
        </table>

    </div>

    
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        ...
      </div>
    </div>
    

    {% for text in texts %}
    <div class="col-12">
        <h2>Анализ текста
          
        </h2>
        
                  <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">
                              <div class="fs-6">Ср. длина предложения
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Приведено среднее значение и среднеквадратичное отклонение"
                        data-bs-custom-class="custom-tooltip">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                  </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Медиана длины предложений
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Приведены медиана и межквартильный размах"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Ср. длина слов
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Приведено среднее значение и среднеквадратичное отклонение"
                        data-bs-custom-class="custom-tooltip">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                  </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Медиана длины слов
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Приведены медиана и межквартильный размах"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th> 
                            <th scope="col">
                              <div class="fs-6">Ср. кол-во слогов в словах
                                
                              </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ text.avg_sentence_length|floatformat:-2 }} <br/> σ = {{text.avg_sentence_length_stdev|floatformat:-2}}</td>
                            <td> {{ text.avg_sentence_length_median }} <br/> iqr = {{text.avg_sentence_length_iqr|floatformat:-2}}</td>
                            
                            <td> {{ text.avg_word_length|floatformat:-2 }} <br/> σ = {{text.avg_word_length_stdev|floatformat:-2}}</td>
                            <td> {{ text.avg_word_length_median|floatformat:-2 }} <br/> iqr = {{text.avg_word_length_iqr|floatformat:-2}}</td>

                            <td> {{ text.avg_syl_per_word|floatformat:-2 }} </td>
                        </tr>
                    </tbody>
                  </table>

                  <div class="row">
                    <div class="col-4">
                      {% autoescape off %}
                      {{ plot_div.avg_sentence_length }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.avg_word_length }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.avg_syl_per_word }}
                      {% endautoescape %}
                    </div>
                  </div>
                  
                    
                

            
                  <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">
                              <div class="fs-6">Коэф. лексического разнообразия
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Отношение числа лемм к количеству их употреблений в тексте"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Коэф. лексической плотности
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Отношение числа лемм неслужебных частей речи к количеству их употреблений в тексте"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ text.type_token_ratio|floatformat:-2 }} </td>
                            <td> {{ text.lexical_density|floatformat:-2 }} </td>
                        </tr>
                    </tbody>
                  </table>

                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                      {% autoescape off %}
                      {{ plot_div.type_token_ratio }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.lexical_density }}
                      {% endautoescape %}
                    </div>
                  </div>
                  
                
            
                  <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">
                              <div class="fs-6">Кол-во многосложных слов
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Учитываются слова с более чем двумя слогами"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Индекс удобочитаемости
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Мера определения сложности восприятия текста читателем"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">FRES
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматический индекс удобочитаемости"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Gunning Fog
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматический индекс удобочитаемости"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">SMOG
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматический индекс удобочитаемости"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">CLI
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Автоматический индекс удобочитаемости"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ text.hard_words_quantity|floatformat:-2 }} </td>
                            <td> {{ text.ari|floatformat:-2 }} </td>
                            <td> {{ text.fres|floatformat:-2 }} </td>
                            <td> {{ text.gunning_fog|floatformat:-2 }} </td>
                            <td> {{ text.smog|floatformat:-2 }} </td>
                            <td> {{ text.cli|floatformat:-2 }} </td>
                        </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-4">
                      {% autoescape off %}
                      {{ plot_div.hard_words_quantity }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.fres }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.gunning_fog }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      {{ plot_div.ari }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.smog }}
                    </div>
                    <div class="col-4">
                      {{ plot_div.cli }}
                      {% endautoescape %}
                    </div>
                  </div>
                
            
                  <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">
                              <div class="fs-6">Ср. позитивная оценка
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Средняя позитивная оценка по предложениям модели DeepPavlov/rubert-base-cased-conversational"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Ср. нейтральная оценка
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Средняя нейтральная оценка по предложениям модели DeepPavlov/rubert-base-cased-conversational"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="fs-6">Ср. негативная оценка
                                <a class="text-white"  role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Средняя негативная оценка по предложениям модели DeepPavlov/rubert-base-cased-conversational"
                        data-bs-custom-class="custom-tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill text-white mb-1" viewBox="0 0 16 16">
                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </svg>
                                </a>
                              </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ text.blanchefort_positive|floatformat:-2 }} </td>
                            <td> {{ text.blanchefort_neutral|floatformat:-2 }} </td>
                            <td> {{ text.blanchefort_negative|floatformat:-2 }} </td>
                        </tr>
                    </tbody>
                  </table>
          </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}