{% extends 'textura_app/base.html' %}

{% block title %}Add text | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row my-4">
    <div class="col-md-8 offset-md-2 mt-5">
        <h1>Textura</h1>
        <div>
            <small class="text-muted lead" style="font-size: 1.5rem;">Сравнительный текстовый анализ по количественным метрикам
                
            </small>
        </div>
    </div>


    <div class="col-md-8 offset-md-2 mt-5">
        <h4>
                Что это такое?
        </h4>
        
    </div>

    <div class="col-8 offset-md-2 card">
        <div class="card-body">
            <ul class="my-0">
                <li class="mb-1">Textura создана чтобы помочь вам в исследовании текстов</li>
                <li class="mb-1">Здесь вы можете посмотреть карточку анализа вашего текста по разным метрикам, а еще посмотреть на графиках как он соотносится с текстами НКРЯ</li>
                <li>Список метрик мы привели <a class="text-primary" href="#metrics">чуть ниже </a></li>
                <li></li>
                <li class="mb-1">Мы верим, что оценка текста по количественным метрикам в сравнении с большим корпусом имеет огромный потенциал для современных гуманитарных исследоватений</li>
              </ul>
        </div>
    </div>






    <div class="col-md-8 offset-md-2 mt-5">
        <h4>
                Как этим пользоваться?
        </h4>
        
    </div>

    <div class="col-8 offset-md-2 card">
        <div class="card-body">
          <ul class="my-0">
            <li class="mb-1">1. Загрузите текст: <a class="text-primary" href="{% url 'upload_text' %}">вот тут</a> вы можете загрузить интересующий вас текст в формате .txt</li>
            <li class="mb-1">2. Анализ: нажмите зеленую кнопку «Анализировать текст». Мы обработаем текст и покажем анализ по выбранным метрикам.</li>
            <li>3. Графики: на странице анализа по нажатию зеленой кнопки мы отрисуем графики для сравнения вашего текста с текстами НКРЯ по всем метрикам, а еще мы покажем насколько сильно ваш текст отклоняется от нормы по метрикам текстуры</li>
            <li class="mb-1">4. Фильтрация корпуса: нажмите голубую кнопку на странице анализа чтобы отфильтровать корпус (выбрать подгруппу текстов для сравнения с вашим загруженным текстом)</li>
            <li class="mb-1">5. Интерпретация: на основе полученных результатов вы можете получить представление о характеристиках текста. Например, если инструмент показывает высокий уровень индексов удобочитаемости языка, вы можете сделать вывод о сложности текста относительно других текстов.</li>
            <li>6. Проверьте другие тексты: если вы хотите проанализировать другой текст, вернитесь на главную страницу или нажмите кнопку «Загрузить текст»</li>
          </ul>
        </div>
    </div>


    <div id="metrics" class="col-md-8 offset-md-2 mt-5">
        <h4>
                Список метрик
        </h4>
        
    </div>

    <div class="col-8 offset-md-2 card">
        <div class="card-body">
          <ul class="my-0">
            <li class="mb-1">Список метрик рассмотрим в группировке по гуманитарным свойствам, за которые они отвечают</li>
            <li></li>
            <li class="mb-1">1. Базовые метрики
                <ul>
                    <li>- Среднее арифметическое длины предложений в тексте</li>
                    <li>- Медиана длины предложений в текста</li>
                    <li>- Среднее арифметическое длины слов в тексте</li>
                    <li>- Медиана длины слов в текста</li>
                    <li>- Среднее количество слогов в словах</li>
                </ul>
            </li>

            <li></li>

            <li class="mb-1">2. Лексика текста
                <ul>
                    <li>- <a class="text-dark" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82_%D0%BB%D0%B5%D0%BA%D1%81%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D1%80%D0%B0%D0%B7%D0%BD%D0%BE%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%B8%D1%8F">Коэффициент лексического разнообразия</a> (lexical diversity) -- количественная характеристика текста, отражающая степень богатства словаря при построении текста заданной длины. В основе показателя лежит соотношение числа отдельных лексических единиц (лемм, англ. types) и количества их употреблений в тексте (текстоформ, англ. tokens). Вычисляется как отношение количества лемм к количеству текстоформ (токенов)</li>
                    <li>- <a class="text-dark" href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82_%D0%BB%D0%B5%D0%BA%D1%81%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D1%80%D0%B0%D0%B7%D0%BD%D0%BE%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%B8%D1%8F">Коэффициент лексической плотности</a> (lexical density) -- отношение самостоятельных частей речи в тексте к общему количеству слов. Более лексически плотными, таким образом, будут тексты, в которых используется меньше служебной лексики.</li>
                </ul>
            </li>

            <li></li>
            
            <li class="mb-1">3. Сложность текста для восприятия
                <ul>
                    <li>- Количетсво многосложных слов (более чем два слога)</li>
                    <li>- <a class="text-dark" href="https://en.wikipedia.org/wiki/Automated_readability_index">Индекс удобочитаемости</a> -- Автоматический индекс удобочитаемости (англ. automated readability index (ARI)) — мера определения сложности восприятия текста читателем, аппроксимирующая сложность текста к номеру класса в американской системе образования, ученикам которого данный текст будет понятен.</li>
                    <li>- <a class="text-dark" href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">FRES</a> -- одна из формул определения индекса удобочитаемости, учитывающая среднее количество слогов</li>
                    <li>- <a class="text-dark" href="https://en.wikipedia.org/wiki/Gunning_fog_index">Gunning fog index</a> -- одна из формул определения индекса удобочитаемости, учитывающая количество многосложных слов</li>
                    <li>- <a class="text-dark" href="https://en.wikipedia.org/wiki/SMOG">SMOG</a> -- одна из формул определения индекса удобочитаемости, зависящая от количества предложений</li>
                    <li>- <a class="text-dark" href="https://en.wikipedia.org/wiki/Coleman%E2%80%93Liau_index">CLI</a> -- одна из формул определения индекса удобочитаемости, зависящая от средней длины предложений и средней длины слов</li>
                </ul>
            </li>

            <li></li>

            <li class="mb-1">4. Анализ тональности
                <ul>
                    <li>Анализ тональности приведен в тестовом режиме и работает через модель <a class="text-dark" href="https://huggingface.co/blanchefort/rubert-base-cased-sentiment-rusentiment">DeepPavlov/rubert-base-cased-conversational</a> обученной на RuSentiment.</li>
                    <li></li>
                    <li>- blanchefort_positive -- средняя позитивная оценка по предложениям в тексте</li>
                    <li>- blanchefort_neutral -- средняя нейтральная оценка по предложениям в тексте</li>
                    <li>- blanchefort_negative -- средняя негативная оценка по предложениям в тексте</li>
                </ul>
            </li>

          </ul>
        </div>
    </div>


</div>
{% endblock content %}

