{% extends 'textura_app/base.html' %}

{% block title %}Add text | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <h2>Добавить фильтры на графики</h2>
        <form method="POST" enctype="multipart/form-data" class="customForm">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper fieldWrapper-custom my-1">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Готово</button>
        </form>
    </div>
</div>
{% endblock content %}

